<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="../bootstrap5.1.3.css">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>Copyright &copy; 2022 - @ViewData["Title"]</p>
        </footer>
    </div>
    <script src="../bootstrap.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>